
    .logo{
      font-size: 40px;
      text-decoration: none;
      font-weight:bold;
    }

    .bg-index{
        background-color: #E87EAB;
    }
    
    nav{
        max-height: 100%;
        max-width:  100%;
        margin: 40px;
        
    }

    .menu{
      display: flex;
      list-style: none;
      align-items: center;
    }

    .menu li{
      margin: 0 1rem;
    }

    .menu li a{
         color: white;
         margin: 20px;
         font-weight:bold;
         text-decoration: none;
    }
   

   .nav-con{
         display: flex;
         justify-content: space-between;
   }

   .container{
      max-width: 1140px;
      margin: 0 auto;
   }



   .game-con{
      display: flex;
      padding: 1rem;
   }

   .game-list{
      margin: 1rem;  
      text-align: center;
      line-height: 2rem;
   }

   .game-list a{
      color: white;
      text-decoration: none;
   }

    #submit-registerbutton{
        border-radius: 3px;
        height: 25px;
        width: 100px;
        background-color: #FFCC00;
     }


     #underbar{
        background-color: #FEEFAD;
        padding: 10px;
        width: 100%;
        height: 100%;
     }

     #box-in-underbar{
        color: rgb(220,33,33);
        text-align: center;
        padding: 10px;
        width:  50%;
        height: 50%;
        background-color: white;
        margin-left: 25%;
        margin-right: 25%;
     }

     table , th , td {
        border: 2px solid #73214D;
        margin-top: 40px;
        margin-left: 720px;
     }

     table {
        width: 480px;
        border-collapse: collapse;
     }

     th {
        height: 75px;
        background-color: #4DA664;
        color: white;
        font-size: 25px;
     }

     td {
        height: 50px;
        text-align: center;
     }

     tr{
        background-color: white;
     }

     tr a{
         color: black;
         text-decoration: none;
     }

     tr:hover{
        background-color: #D28DAA;
     }

      .img-icon-radius{
         border-radius: 12px;
         width: 160px;
         height: 160px;
      }

     